<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048441793418-rkiqnensjldgpirtd264jrlmupf0vjfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048441793418-rkiqnensjldgpirtd264jrlmupf0vjfc</string>
	<key>API_KEY</key>
	<string>AIzaSyB8MoxnO8qHL5jYJkZhyJeYjZAMkzqbs-4</string>
	<key>GCM_SENDER_ID</key>
	<string>1048441793418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.urbanSketchers</string>
	<key>PROJECT_ID</key>
	<string>final-project-titans</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-titans.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048441793418:ios:32202290dcfac585a6f673</string>
</dict>
</plist>
